<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.mckissock.com/wp-content/uploads/2019/02/hand-gives-home-and-key-to-other-hand-with-money-cash-vector-id926274952.jpg);">
  <div class="container">
    <h1>Search for your new home today</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="class-list">
<div class="card" style="width: 18rem;">
  <img src="https://www.redsquirrelpropertyshop.co.uk/images/blog/preparing-your-house-for-sale.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://mk0propertyinvetpb5i.kinstacdn.com/wp-content/uploads/2020/06/off-market-property.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="https://propertyshowrooms.com/media/14343/property-guide.png?anchor=center&mode=crop&width=676&height=270&rnd=131891862990000000" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>